body {
    background-color: #fff;
    background-attachment: fixed;
    background-image: url(/img/background.jpg);
    background-repeat: repeat-x;

  }

  .transparente {
    background-color: transparent !important;
  }
  .footer{
    background-color: black;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
  }

  .borda{
    border-radius: 16px;
    border: 1px solid white;
    padding: 8px;  
  }